<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{pathFor 'homepage'}}">Void</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="{{activeRouteClass 'homepage'}}"><a href="{{pathFor 'homepage'}}">Homepage</a></li>
          <li class="{{activeRouteClass 'content'}}"><a href="{{pathFor 'content'}}">Content page</a></li>
          <li class="{{activeRouteClass 'items'}}"><a href="{{pathFor 'items'}}">Items</a></li>
          <li><a href="/404">404 Link</a></li>
        </ul>
        <ul class="nav pull-right">
          <li>{{loginButtons}}</li>
        </ul>
      </div>
    </div>
  </header>
  <hr/>
  {{> alerts}}
</template>